<ion-header hidden>
  <ion-toolbar color="danger">
    <ion-title>Mart-24</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger" padding>

  <ion-item lines="none" color="danger">
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-icon name="cart-outline" color="light"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-item lines="none" color="danger" class="text1">
    <ion-label>Mart-24</ion-label>
  </ion-item>
  <ion-item lines="none" color="danger" class="text2">
    <ion-label>an online grocery store</ion-label>
  </ion-item>

  <ion-item lines="none" color="danger">
  </ion-item>
    
 
    
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="your email" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="password" placeholder="your password" required [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="none" class="align" color="danger">
      <ion-button color="danger" class="rowStyleButton" (click)="login()">Login</ion-button>
    </ion-item>

    <ion-item lines="none" class="signupButton" color="danger">
      <ion-button color="danger" class="rowStyleSignupButton" (click)="gotoSignup()">Don't have an account? Sign Up</ion-button>
    </ion-item>
  
</ion-content>