ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  font-size: 50vh;
  
  
}

ion-icon {
 
  width: 100%;
  height: 100%;

  text-align: center;

}

ion-row {
  height: 150px;
}


.text1 {
  text-align: center;
  font-size: 20px;
}

.text2 {
  text-align: center;
  font-size: 15px;
}


.rowStyle {
  left: 10%;
  width: 80%;
  border-radius: 30px;
  margin-top: 10px;
}

.align {
  left: 10%;
  width: 80%;
  border-radius: 30px;
  margin-top: 10px;
  border: 3px lightgrey solid;
}

.rowStyleButton {
  font-size: 18px;
  width: 100%;
}

.signupButton {
  left: 10%;
  width: 80%;
  border-radius: 30px;
  margin-top: 10px;
}

.rowStyleSignupButton {
  font-size: 14px;
  width: 100%;
}